<app-pull-to-refresh (pullToRefresh)="refresh($event)">
  <ng-container *ngIf="feed.feed$ | async as posts;">
    <ng-container *ngIf="posts.length || (feed.loading$|async); else noMessages">
      @for (post of posts; track post.id) {
        <app-post [post]="post"></app-post>
      }
    </ng-container>
  </ng-container>
  <div *ngIf="!(feed.loading$|async); else loading"></div>
</app-pull-to-refresh>
<ng-template #noMessages>
  <div class="no-data">
    <div>Nothing here yet ...</div>
  </div>
</ng-template>

<ng-template #loading>
  <div class="loader">
    <mat-progress-spinner diameter="30" mode="indeterminate"></mat-progress-spinner>
    <div>Decrypting ...</div>
  </div>
</ng-template>
