<div class="nav-spacer"></div>
<nav>
  <button mat-icon-button [routerLinkActive]="'active'" [routerLink]="[URLS.HOME]">
    <mat-icon>home</mat-icon>
  </button>
  <button mat-icon-button [routerLinkActive]="'active'" [routerLink]="[URLS.CONNECTIONS]">
    <mat-icon>stream</mat-icon>
  </button>

  <div class="logo" [routerLink]="['/']">erizo</div>
  <span class="spacer"></span>
  <button [matBadgeHidden]="!(notifications$ | async)?.length"
          [matBadge]="(notifications$ | async)?.length || 0"
          matBadgeSize="large"
          matBadgePosition="below after"
          [routerLink]="[URLS.NOTIFICATIONS]"
          routerLinkActive="active"
          mat-icon-button>
    <mat-icon>notifications</mat-icon>
  </button>
  <button mat-icon-button [routerLinkActive]="'active'" [routerLink]="[URLS.IDENTITY]">
    <mat-icon>person</mat-icon>
  </button>
</nav>
<main>
  <router-outlet></router-outlet>
</main>



<div *ngIf="locked" class="locked">
  <h1>Hey 🖐️</h1>
  <p>We need to verify its you :)</p>
  <button (click)="authenticate()" mat-flat-button>Its Me!</button>
</div>
