nav {
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding: max(var(--safe-area-inset-top), 8px) 16px 8px 16px;
  position: fixed;
  width: 100vw;
  top: 0;
  box-sizing: border-box;
  background: linear-gradient(to top, transparent, light-dark(transparent,  rgba(0, 0, 0, 0.6)) 48px);
  z-index: 999;
}



nav div {
  padding: 8px;
  cursor: pointer;
}

nav .spacer {
  flex: 1 1 auto;
}


main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 64px;
  box-sizing: border-box;
  max-width: 640px;
  height: 100vh;
  margin: var(--safe-area-inset-top) auto 0 auto;
}

.logo {
  font-family: "Rubik Lines", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
}

.active {
  color: #410055;
}


.locked {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 1);
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
