.logo {
  font-family: "Rubik Lines", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 2rem;
  position: fixed;
  top: calc(1.25rem + var(--safe-area-inset-top));
  left: 50%;
  transform: translate(-50%);
}

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - var(--safe-area-inset-top));
  padding-top: var(--safe-area-inset-top);
  gap: 1rem;
}
.explanation {
  font-size: 0.875rem;
  text-align: center;
  opacity: 0.8;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.explanation > div:first-child {
  font-size: 1rem;
  font-weight: bold;
}
