:host {
  width: 100%;
}

a {
  display: flex;
  flex-direction: row;
  flex: 1 1 auto;
}

.spacer {
  flex: 1 1 100%;
  display: inline-block;
}

h3 {
  padding-left: 1rem;
  margin-bottom: 0;
}

.list-content > div {
  display: flex;
  justify-content: center;
}

.list-content {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  align-items: center;
}
