:host {
  width: 100%;
  position: relative;
  height: 100%;
}

.preview-image {
  width: 100%;
}

.message-input {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: center;
  padding: 1rem;
  box-sizing: border-box;
}

.message-input mat-form-field {
  width: 100%;
}

.message-input button, mat-spinner {
  margin-bottom: 1.25rem;
  margin-left: 10px;
}

.info-text {
  display: flex;
  width: 100%;
  font-size: 0.6875rem;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

.info-text .mat-icon {
  font-size: 1rem;
  width: 1rem;
  height: 1rem;
}

.spacer {
  flex: 1 1 auto;
}

.top-bar {
  display: flex;
  position: absolute;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
  gap: 1rem;
}

.top-bar [mat-icon-button] {
  background: rgba(0, 0, 0, 0.5);
}

.hints {
  padding: 1rem;
}

.manipulations {
}
