<div class="top-bar">

  <button mat-icon-button (click)="retakePhoto()">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <span class="spacer"></span>
  <button mat-icon-button (click)="uploadJourney.isNsfw = !uploadJourney.isNsfw">
    @if (uploadJourney.isNsfw) {
      <mat-icon>18_up_rating</mat-icon>
    } @else {
      <mat-icon>no_adult_content</mat-icon>
    }
  </button>

  <button mat-icon-button (click)="nextCounter()">
    @switch (uploadJourney.deleteAfter) {
      @case (undefined) {
        <mat-icon>timer_off</mat-icon>
      }
      @case (1) {
        <mat-icon>looks_one</mat-icon>
      }
      @case (2) {
        <mat-icon>looks_two</mat-icon>
      }
      @case (3) {
        <mat-icon>looks_3</mat-icon>
      }
    }
  </button>

  <button mat-icon-button (click)="shouldCrop = true">
    <mat-icon>crop_rotate</mat-icon>
  </button>
</div>

<img #image class="preview-image" *ngIf="!uploadJourney.isVideo && uploadJourney.previewPhoto"
     [src]="uploadJourney.previewPhoto"/>
<video muted class="preview-image" *ngIf="uploadJourney.isVideo && uploadJourney.previewPhoto"
       [src]="uploadJourney.previewPhoto" autoplay loop></video>


<app-image-cropper *ngIf="shouldCrop" [srcDataUri]="uploadJourney.previewPhoto" (croppedDataUri)="updateImage($event)"></app-image-cropper>
<div class="hints">

  <div *ngIf="uploadJourney.isNsfw" class="info-text">
    <mat-icon>info</mat-icon>
    <span>The post will be hidden behind the "not safe for work" blur</span>
  </div>
  <div *ngIf="uploadJourney.deleteAfter && uploadJourney.deleteAfter > 0" class="info-text">
    <mat-icon>info</mat-icon>
    <span>The post will be deleted after {{ uploadJourney.deleteAfter }} days</span>
  </div>

</div>

<div class="message-input">
  <mat-form-field appearance="outline">
    <mat-label>Message</mat-label>
    <input maxlength="100" matInput [(ngModel)]="uploadJourney.message">
  </mat-form-field>
  <button *ngIf="!loading" mat-icon-button [disabled]="loading" (click)="complete()">
    <mat-icon>send</mat-icon>
  </button>
  <div *ngIf="loading">
    <mat-spinner diameter="40"></mat-spinner>
  </div>
</div>
