<h3>Identity</h3>
<div class="info-text">My fingerprint: {{ ownFingerprint }}</div>
<button mat-stroked-button (click)="shareIdentity()">Share Identity</button>
<button mat-stroked-button (click)="downloadIdentity()">Download Identity</button>
<!--<button mat-stroked-button color="primary" (click)="fileInput.click()">Upload Identity</button>-->
<!--<input #fileInput type="file" hidden (change)="uploadIdentity($event)" />-->
<button mat-stroked-button (click)="deleteIdentity()">Delete/Logout Identity</button>

<h3>Preferences</h3>
<button mat-stroked-button (click)="switchTheme()">
  <mat-icon>dark_mode</mat-icon>
  Switch theme
</button>
<button mat-stroked-button (click)="enableNotifications()">Enable Notifications</button>

<h3>Dev</h3>
<button mat-stroked-button [routerLink]="['/connections', 'open']">Open connection requests</button>


<div style="position: fixed;bottom: 10px;right:10px">❤️ Erizo</div>
