
.comments {
  overflow: hidden;
  max-width: 100vw;
  box-sizing: border-box;
  padding: 0 16px 16px;
}


.comment .user {
  font-weight: bold;
  padding-right: 8px;
}

.comment .content {
  line-break: anywhere;
}

.comments .new input {
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-bottom: solid 1px #ccc;
  outline: none;
  background: none;
  padding: 8px;
}

.comments .new {
  display: flex;
  flex-direction: row;
  padding: 16px 0;
}

.info {
  opacity: 0.5;
}
