
.comments {
  overflow: hidden;
  max-width: 100vw;
  box-sizing: border-box;
  padding: 0 1rem 1rem;
}

.message {
  padding: 1rem 0;
}

.more-comments {
  opacity: 0.5;
}

.comment .user {
  font-weight: bold;
  padding-right: 0.5rem;
}

.comment .content {
  line-break: anywhere;
}

.comments .new input {
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-bottom: solid 1px #ccc;
  outline: none;
  background: none;
  padding: 0.5rem;
}

.comments .new {
  display: flex;
  flex-direction: row;
  padding: 1rem 0;
}

.info {
  opacity: 0.5;
}
