<div class="connection-header">
  <h1 class="header">
    <mat-icon class="icon">group</mat-icon>
    <div>
      {{ contact?.alias }}
      <div class="and-you">& You</div>
    </div>
  </h1>
</div>


<div class="images">
  @for (message of messages$ | async; track message.id) {
    <div class="image">
      <img appLightbox [appLightboxInfo]="infoTemplate" [src]="message.url" alt="">
      <ng-template #infoTemplate>
           <div class="lightbox-info"><b>{{ message.alias }}
           </b> &#64; {{message.created_at | date: 'dd.MM HH:ss'}} | {{ message.message }}</div>
      </ng-template>
    </div>
  }
</div>


<button class="post-button" mat-flat-button (click)="sendImage()">Post new image</button>
