<h3>Identity</h3>

<button mat-stroked-button (click)="downloadIdentity()">Download Identity</button>
<button mat-stroked-button (click)="deleteIdentity()">Delete/Logout Identity</button>

<h3>Preferences</h3>
<button mat-stroked-button (click)="switchTheme()">
  <mat-icon>dark_mode</mat-icon>
  Switch Theme
</button>
<button mat-stroked-button [routerLink]="'/'+ URLS.SET_APP_AUTH">Application Authentication</button>

<button *ngIf="!isNotificationEnabled" mat-stroked-button (click)="enableNotifications()">Enable Notifications</button>
<button *ngIf="isNotificationEnabled" mat-stroked-button (click)="disableNotifications()">Disable Notifications</button>

<button mat-stroked-button [routerLink]="'/'+ URLS.DEVICES">Devices</button>

<button *ngIf="isPrivacyScreenEnable" mat-stroked-button (click)="togglePrivacyScreen()">Disable Privacy Screen</button>
<button *ngIf="!isPrivacyScreenEnable" mat-stroked-button (click)="togglePrivacyScreen()">Enable Privacy Screen</button>

<button *ngIf="isNsfwDisabled" mat-stroked-button (click)="toggleNsfw()">Enable NSFW</button>
<button *ngIf="!isNsfwDisabled" mat-stroked-button (click)="toggleNsfw()">Disable NSFW</button>

<h3>Dev</h3>

<button mat-stroked-button (click)="clearImageCache()">Clear Image Cache</button>
<button mat-stroked-button (click)="setBackendUrl()">Set Backend URL</button>


<div class="fab-button">❤️ Erizo</div>
