<h3>Identity</h3>

<button mat-stroked-button (click)="downloadIdentity()">Download Identity</button>
<button mat-stroked-button (click)="deleteIdentity()">Delete/Logout Identity</button>

<h3>Preferences</h3>
<button mat-stroked-button (click)="switchTheme()">
  <mat-icon>dark_mode</mat-icon>
  Switch Theme
</button>
<button mat-stroked-button [routerLink]="'/'+ URLS.SET_APP_AUTH">Application Authentication</button>
<button mat-stroked-button (click)="enableNotifications()">Enable Notifications</button>

<h3>Dev</h3>

<button mat-stroked-button (click)="clearImageCache()">Clear Image Cache</button>
<button mat-stroked-button (click)="setBackendUrl()">Set Backend URL</button>


<div class="fab-button">❤️ Erizo</div>
