:host {
  top: 0;
  left: 0;
  position: fixed;
  display: block;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#cameraPreview {
  position: fixed;
  left: 0;
  right: 0;
  width: 100vw;
  height: calc(100vw * 0.75); /* 4:3 */
  top: 50%;
  transform: translateY(-50%); /* center; creates letterbox if needed */
}

.controls {
  display: flex;
  flex-direction: row;
  gap: 4rem;
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
  align-items: center;
}

.controls .trigger {
  width: 80px;
  height: 80px;
  padding: 0;
}

.controls .trigger .mat-icon {
  font-size: 5rem;
  width: 80px;
  height: 80px;
}


