<div class="connection-header">
  <h1 class="header">
    <mat-icon class="icon">group</mat-icon>
    <div class="names">
      <ng-container *ngIf="thread?.name">
        {{ thread.name }}
      </ng-container>
      <ng-container *ngIf="!thread?.name">
        <span *ngFor="let participant of thread?.participants; let last = last; let first = first">
          <span><span>{{ participant.fingerprint | alias }}</span><span *ngIf="!last"> & </span></span>
        </span>
      </ng-container>
    </div>
  </h1>
</div>


<div class="images" *ngIf="(posts?.feed$ | async)?.length || (posts?.loading$|async); else noMessages">
  @for (post of posts?.feed$ | async; track post.id) {
    <div class="image">
      <img [appBlur]="post.nsfw"
           [appBlurAlways]="true"
           [appBlurOverlay]="blurry"
           [routerLink]="[URLS.VIEW_POST_FN(post.id)]"
           [src]="post.url"
           alt="">
    </div>
  }
</div>
<div *ngIf="!(posts?.loading$|async); else loading"></div>


<ng-template #loading>
  <div class="loader">
    <mat-progress-spinner diameter="30" mode="indeterminate"></mat-progress-spinner>
    <div>Decrypting ...</div>
  </div>
</ng-template>
<ng-template #noMessages>
  <div class="no-data">
    <div>Nothing here yet ...</div>
  </div>
</ng-template>
<ng-template #blurry>
  <mat-icon>local_fire_department</mat-icon>
</ng-template>

<button class="post-button" mat-flat-button (click)="sendImage(thread.id)">Post new
  image
</button>
