<div class="images" *ngIf="(messages$|async)?.length != 0; else noMessages">
  @for (message of messages$ | async; track message.id) {
    <div class="message-container">
      <div class="image-header">
        <div class="user" [routerLink]="['/connection', message.sender_fingerprint]">
          <mat-icon>{{message.days_to_live ? 'schedule' : 'account_circle'}}</mat-icon>
          {{ message.alias }}
        </div>
        <span class="date">{{ message.created_at | date: "dd.MM HH:mm" }}</span></div>
      <img class="image" [src]="message.url" alt="">
      <div *ngIf="message.message" class="message"><b>{{ message.alias }}</b> | {{message.message}}</div>
    </div>
  }
</div>

<ng-template #noMessages>
  <div class="no-images">
    <div>Nothing here yet ...</div>
  </div>
</ng-template>

<div class="loader" *ngIf="!(messages$|async)">
  <mat-progress-spinner diameter="30" mode="indeterminate"></mat-progress-spinner>
  <div>Decrypting ...</div>
</div>

