<h3>Share Identity</h3>
<button mat-stroked-button (click)="shareIdentity()">Share Identity</button>

<h3></h3>

<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>Save and Restore Identity</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="panel-content">
      <button mat-stroked-button (click)="downloadIdentity()">Download Identity</button>
      <button mat-stroked-button color="primary" (click)="fileInput.click()">Upload Identity</button>
      <input #fileInput type="file" hidden (change)="uploadIdentity($event)"/>

      <button mat-stroked-button (click)="deleteIdentity()">Delete Identity</button>
    </div>
  </mat-expansion-panel>
</mat-accordion>


<div style="position: fixed;bottom: 10px;right:10px">❤️ Erizo</div>
