
<div class="info-text">My fingerprint: {{ fingerprint | async }}</div>

<button (click)="share()" mat-stroked-button>Share Fingerprint</button>

<br>
<h3>Add Contact by fingerprint</h3>
<mat-form-field>
  <mat-label>Fingerprint</mat-label>
  <input #fingerprintInput [required]="true" matInput/>
</mat-form-field>
<button [disabled]="fingerprintInput.value === ''" (click)="addByFp(fingerprintInput.value)" mat-stroked-button>
  <mat-icon>add</mat-icon>
  Add
</button>

<br>
<h3>Add contact by QR Code</h3>


<div class="qrcode">
  <qr-code [value]="(fingerprint | async) ?? ''"
           errorCorrectionLevel="H"
           darkColor="#363636"
           [margin]="2"
           centerImageSrc="/icon512_rounded.png"/>
</div>
<button (click)="scanQr()" mat-stroked-button>Scan QR Code</button>
