:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  gap: 0.5rem;
  padding: 1rem;
  box-sizing: border-box;
}

.manual-input {
  display: flex;
  flex-direction: column;
}

.qrcode {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}


.info-text {
  margin: 0.5rem 0;
}
