.post-image {
  max-width: 640px;
  width: 100%;
  box-sizing: border-box;
  padding: 0;
  margin-top: 4px;
}

.post-image-container {
  overflow: hidden;
  position: relative;
}

.post-header {
  padding: 4px 1rem 4px 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.date {
  white-space: nowrap;
  font-size: 0.625rem;
}

.post-header .user {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

.message {
  font-size: 0.875rem;
}

.post-message {
  padding: 12px 1rem 0 1rem;
  display: flex;
  flex-direction: row;
  overflow-wrap: anywhere;
  justify-content: start;
  align-items: start;
  margin-bottom: 8px;
}

.post-message > div {
  max-width: 100%;
  text-wrap: auto;
}

.menu {
  cursor: pointer;
}

.post-message-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 100%;
}

.post-message-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}
