<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAkNdRHB6dQ6ahAS7auqkgstkw9geNBC5o</string>
	<key>GCM_SENDER_ID</key>
	<string>1074541584385</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.zwisler.erizo</string>
	<key>PROJECT_ID</key>
	<string>erizo-3e72a</string>
	<key>STORAGE_BUCKET</key>
	<string>erizo-3e72a.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1074541584385:ios:20edc3a2aae08115332000</string>
</dict>
</plist>