@use '@angular/material' as mat;

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}



html {
  font-size: 16px;
  color-scheme: light;
  @include mat.theme((
    color: mat.$violet-palette,
    typography: Roboto,
    density: 0
  ));
}

@media (min-resolution: 2dppx) {
  html {
    font-size: 48px;
  }
}

.lightbox-info {
  width: 95%;
  padding: 4px 0;
  box-sizing: border-box;
}

.mat-icon {
  height: 1.5rem !important;
  width: 1.5rem !important;
  font-size: 1.5rem !important;
}

.no-data {
  margin: 64px auto;
  display: flex;
  flex-direction: column;
  max-width: 320px;
  text-align: center;
  gap: 16px;
  opacity: 0;
  animation: fadeIn 0.5s ease-in 0.1s forwards;
  animation-delay: 0.5s;
}

.loader {
  margin: 64px auto;
  display: flex;
  flex-direction: column;
  max-width: 320px;
  align-items: center;
  gap: 16px;
  opacity: 0;
  animation: fadeIn 0.5s ease-in 0.1s forwards;
}

.fab-button {
  position: fixed !important;
  bottom: calc(32px + env(safe-area-inset-bottom));
  right: calc(32px + env(safe-area-inset-right));
}

.snackbar-error.mat-mdc-snack-bar-container .mat-mdc-snackbar-surface {
  background-color: #bb2c21;
  color: white;
  font-weight: 500;
}

.mat-mdc-snack-bar-container {
  padding-bottom: env(safe-area-inset-bottom) !important;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

router-outlet + * {
  display: block;
  animation: fade 0.1s;
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
