
:host {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.numpad {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.numpad > .row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.row .mdc-button {
  font-size: 1.5rem;
}

.numpad-input {
  display: flex;
  gap: 1rem;
  flex-direction: row;
  padding: 1rem;
  margin-bottom: 1rem;
}

.numpad-input > div.correct {
  background: var(--mat-sys-primary);
  border: 1px solid var(--mat-sys-primary);
}

.numpad-input > div {
  width: 25px;
  height: 36px;
  border: 1px solid var(--mat-sys-primary-container);
  border-radius: 2rem;
}
