.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  max-width: 480px;
  gap: 10px;
}

.settings {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 16px;
  box-sizing: border-box;
}

.settings mat-form-field {
  width: 100%;
}

.preview {
  margin-top: 10px;
  width: 100%;
}

.action {
  display: flex;
  width: 100%;
  padding: 0 16px;
  box-sizing: border-box;
}

.spacer {
  flex: 1 1 auto;
}

.preview img {
  width: 100%;
  max-height: 80vh;
}
